effect of # of rounds on a 'medium size' tournament

In [5]:
from tournament import Tournament, Simulation
from random import seed
import pandas as pd
import numpy as np

rand_var = False
dist_var = 'lognorm'

In [2]:
# 4 rounds
sim = Simulation(64, 4, 500,  **{'dist': dist_var, 'k': 16, 'random': rand_var})
sim.simulate()

In [3]:
# 5 rounds
sim2 = Simulation(64, 5, 500,  **{'dist': dist_var, 'k': 16, 'random': rand_var})
sim2.simulate()

In [4]:
# 6 rounds
sim3 = Simulation(64, 6, 500,  **{'dist': dist_var, 'k': 16, 'random': rand_var})
sim3.simulate()

In [5]:
# 7 rounds
sim4 = Simulation(64, 7, 500,  **{'dist': dist_var, 'k': 16, 'random': rand_var})
sim4.simulate()

In [6]:
# 8 rounds
sim5 = Simulation(64, 8, 500,  **{'dist': dist_var, 'k': 16, 'random': rand_var})
sim5.simulate()

In [7]:
# 9 rounds
sim6 = Simulation(64, 9, 500,  **{'dist': dist_var, 'k': 16, 'random': rand_var})
sim6.simulate()

In [8]:
# 3 rounds
sim7 = Simulation(64, 3, 500,  **{'dist': dist_var, 'k': 16, 'random': rand_var})
sim7.simulate()

conglomerated results follow

In [9]:
# mean
res = pd.concat([pd.DataFrame(sim7.get_results().mean()).transpose(),
           pd.DataFrame(sim.get_results().mean()).transpose(),
           pd.DataFrame(sim2.get_results().mean()).transpose(),
           pd.DataFrame(sim3.get_results().mean()).transpose(),
           pd.DataFrame(sim4.get_results().mean()).transpose(),
           pd.DataFrame(sim5.get_results().mean()).transpose(),
           pd.DataFrame(sim6.get_results().mean()).transpose(),
          ])
res['m'] = np.arange(3,10)
res

   undef_champ  top_champ   sq_loss  top_k_found       tau       rho  m
0        0.772      0.772  4.432994     0.983125  0.443935  0.567687  3
0        0.742      0.742  4.746862     0.905625  0.420329  0.542798  4
0        0.276      0.276  4.152149     0.810375  0.458546  0.603038  5
0        0.656      0.656  3.645067     0.796750  0.500282  0.653666  6
0        0.546      0.552  3.199112     0.724875  0.531827  0.696854  7
0        0.336      0.344  3.898398     0.643500  0.480078  0.631022  8
0        0.118      0.124  4.018647     0.612750  0.466516  0.620307  9

In [10]:
# variance
res = pd.concat([pd.DataFrame(sim7.get_results().std()).transpose(),
           pd.DataFrame(sim.get_results().std()).transpose(),
           pd.DataFrame(sim2.get_results().std()).transpose(),
           pd.DataFrame(sim3.get_results().std()).transpose(),
           pd.DataFrame(sim4.get_results().std()).transpose(),
           pd.DataFrame(sim5.get_results().std()).transpose(),
           pd.DataFrame(sim6.get_results().std()).transpose(),
          ])
res['m'] = np.arange(3,10)
res

   undef_champ  top_champ   sq_loss  top_k_found       tau       rho  m
0     0.419963   0.419963  0.647864     0.030719  0.053783  0.063878  3
0     0.437972   0.437972  0.565570     0.060975  0.047229  0.054512  4
0     0.447464   0.447464  0.523658     0.067985  0.043780  0.049978  5
0     0.475517   0.475517  0.407531     0.063817  0.037171  0.038544  6
0     0.498378   0.497787  0.375167     0.089716  0.034282  0.035533  7
0     0.472812   0.475517  0.436709     0.087058  0.037720  0.041243  8
0     0.322931   0.329912  0.387811     0.096873  0.033620  0.036575  9

array([  0.84192663,   1.6646148 ,   0.45040009,   0.79637022,
         1.76115542,   0.26459327,   0.40077729,   1.97152584,
         0.2364461 ,   1.19127803,   2.16468721,   4.16891476,
         2.65711985,   1.4302339 ,   4.35578885,   0.7278559 ,
         0.24900462,   1.2301609 ,   0.3129969 ,   1.26796817,
         4.88391949,   0.39324813,   0.77742417,   1.55075187,
         4.97441868,   0.65869125,   0.43104527,   2.65221887,
         2.06166134,   3.47165154,   1.93001238,  10.80622409,
         0.39979502,   1.11648403,   2.28681449,   0.2792395 ,
         0.24670869,   1.55807325,   1.121317  ,   1.57368061,
         0.51381403,   2.29532666,   0.88814032,   1.57103626,
         0.63234614,   2.42415676,   0.04713133,   2.85345766,
         1.16155433,   0.48594449,   1.30006201,   0.79628471,
         1.34361271,   0.8887779 ,   8.06542621,   0.50199591,
         3.68747174,   0.57539813,   4.91743052,   0.77436488,
         1.04824019,   0.38843317,   0.63467322,   0.85848733])